<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
      <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Shifthub</a>
      </div>
      <p style="font-size:1.1em">Hi #{firstName}</p>
      <p>A request has been received to chnage the password for your Shifthub account.</p>
      <p></p>
      <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"><a href='' + #{url} style='color:white' >Reset password</a></h2>
      <p style="font-size:0.9em;">If you didn't initiate this request, please contact us immediately.</p>
      <p>Thank you, <br>Shifthub</p>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>Shifthub</p>
        <p>sum sum sum, Lagos</p>
        <p>Nigeria</p>
      </div>
    </div>
</div>