<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f5f5f5; padding: 20px;">
    <div style="background-color: white; border-radius: 10px; padding: 20px; text-align: left;">
        <h1>Welcome to ShiftHub!</h1>
        <p> Hi there, #{fullName} </p>
        <p>Thank you for joining our community. We're excited to have you on board.</p>
        <p>Your One-Time Password (OTP) for verification is: <strong>#{otp}</strong></p>
        <p>Please keep this code confidential, as it's essential for your account security.</p>


        <p>If you have any questions or need assistance, please contact our support team.</p>
        <p>Thank you once again for choosing us. We look forward to serving you!</p>
  
        <p style="font-size:0.9em; margin-top: 50px">Regards,<br />Shifthub</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>Shifthub</p>
            <p>xyz, Lagos</p>
            <p>Nigeria</p>
        </div>
    </div>
    </div>
</body>